SHOPIFY_STORE=sinar-fajar-2.myshopify.com
SHOPIFY_ADMIN_TOKEN=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
SHOPIFY_API_VERSION=2026-04
METALS_API_KEY=ZJZVELJHIMSYZVWKR7WM223WKR7WM
METALS_BASE_URL=https://api.metals.dev/v1
BUY_SPREAD_BPS=75
SELL_SPREAD_BPS=125
MAX_HISTORY_DAYS=365
